.registerMain {
  display: flex;
  color: #292738;
}

.registerLeft {
  height: 100vh;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerLeft img {
  width: 30rem;
  max-width: 100%;
}

.registerRight {
  height: 100vh;
  flex-grow: 1;
}

.registerRightContainer {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registerRight form {
  display: flex;
  flex-direction: column;
}

.registerLogo {
  align-self: center;
  padding-top: 3.125rem;
}

.registerCenter {
  margin: auto 0;
  text-align: center;
}

.registerCenter h2 {
  font-size: 30px;
}

.registerCenter p {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 40px;
}

.inputGroup {
  display: flex;
  column-gap: 0.5rem;
}

.formInput {
  width: 100%;
  padding: 16px;
  margin-bottom: 13px;
  outline: none;
  color: #292738;
  border: 2px solid #e4e4e4;
  transition: all 200ms ease-in-out;
}

.formInput:focus {
  border: 2px solid lightblue;
  background-color: none;
}

.passwordInputDiv {
  width: 100%;
  position: relative;
}

.passwordInputDiv svg {
  font-size: 1rem;
  color: #2a263b;
  position: absolute;
  right: 15px;
  bottom: 33px;
  cursor: pointer;
  outline: none;
}

.registerCenterOptions {
  display: flex;
  justify-content: space-between;
}

.registerCenterButtons {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.registerCenterButtons button {
  border: none;
  border-radius: 1.5rem;
  font-size: 0.9rem;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.registerCenterButtons button:nth-child(1) {
  background-color: #292738;
  color: white;
  line-height: 1.4rem;
}

.registerCenterButtons button:nth-child(1):hover {
  background-color: rgba(41, 39, 56, 0.95);
}

.registerCenterButtons button:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  color: #292738;
  font-weight: bold;
  background-color: #f0f0f0;
}

.registerCenterButtons button:nth-child(2) svg {
  font-size: 1.5rem;
}

.registerCenterButtons button:nth-child(2):hover {
  background-color: rgba(196, 196, 196, 0.5);
}

.registerBottomP {
  text-align: center;
  font-size: 15px;
  padding-bottom: 40px;
}

.registerBottomP a {
  text-decoration: none;
  color: #292738;
  font-weight: bold;
  margin-left: 0.3rem;
  transition: all 200ms ease-in-out;
}

.registerBottomP a:hover {
  text-decoration: underline;
}
