.container {
  display: flex;
  color: #292738;
}

.loginLeft {
  height: 100vh;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginLeft img {
  width: 30rem;
}

.loginRight {
  height: 100vh;
  flex-grow: 1;
}

.loginRightContainer {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginRight form {
  display: flex;
  flex-direction: column;
}

.loginLogo {
  align-self: center;
  padding-top: 3.125rem;
}

.loginCenter {
  margin: auto 0;
  text-align: center;
}

.loginCenter h2 {
  font-size: 35px;
}

.loginCenter p {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 40px;
}

.formInput {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  outline: none;
  border: 2px solid #e4e4e4;
  transition: all 200ms ease-in-out;
}

.formInput:focus {
  border: 2px solid lightblue;
  background-color: none;
}

.passwordInputDiv {
  position: relative;
}

.passwordInputDiv svg {
  font-size: 1rem;
  color: #2a263b;
  position: absolute;
  right: 15px;
  bottom: 33px;
  cursor: pointer;
  outline: none;
}

.loginCenterOptions {
  display: flex;
  justify-content: space-between;
}

.rememberDiv {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.rememberDiv label {
  font-size: 0.9rem;
  cursor: pointer;
}

.forgotPasswordLink {
  text-decoration: none;
  font-size: 0.9rem;
  color: #292738;
  transition: all 200ms ease-in-out;
}

.forgotPasswordLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.loginCenterButtons {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.loginCenterButtons button {
  border: none;
  border-radius: 1.5rem;
  font-size: 0.9rem;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.loginCenterButtons button:nth-child(1) {
  background-color: #292738;
  color: white;
  line-height: 1.4rem;
}

.loginCenterButtons button:nth-child(1):hover {
  background-color: rgba(41, 39, 56, 0.95);
}

.loginCenterButtons button:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  color: #292738;
  font-weight: bold;
  background-color: #f0f0f0;
}

.loginCenterButtons button:nth-child(2) svg {
  font-size: 1.5rem;
}

.loginCenterButtons button:nth-child(2):hover {
  background-color: hsla(0, 0%, 77%, 0.5);
}

.loginBottomP {
  text-align: center;
  font-size: 15px;
  padding-bottom: 40px;
}

.loginBottomP a {
  text-decoration: none;
  color: #292738;
  font-weight: bold;
  margin-left: 0.3rem;
  transition: all 200ms ease-in-out;
}

.loginBottomP a:hover {
  text-decoration: underline;
}
